---
layout: default
exclude_from_search: true
custom_css_class: home
---

<!-- This loops through the paginated posts -->
<div class="content__posts">
{% for post in paginator.posts %}
  <div class="type-post format-{% if post.custom_type %}{{ post.custom_type }}{% endif %}">
    <article class="post">

      {% if post.custom_type == 'post' %}
        <header class="post__header">
          <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        </header><!-- /.post__header -->

        <div class="post__entry">
          {{ post.content }}
        </div><!-- /.post__entry -->

      {% elsif post.custom_type == 'link' %}
        <header class="post__header">
          <h1><a href="{{ post.link_url }}">{{ post.title }}</a><span class="arrow">&rarr;</span></h1>

          <small class="post__meta"><span class="pubdate"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign d = post.date | date: "%-d"  %}{{ post.date | date: "%B" }}
        {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
        {{ post.date | date: "%Y" }}</time></span> <a href="{{ post.url }}" class="link__icon" title="Link to {{ post.title }}">&infin;</a></small>

        </header><!-- /.post__header -->


        <div class="post__entry">
          {{ post.content }}
        </div><!-- /.post__entry -->

      {% endif %}
    </article><!-- /.post -->
  </div><!-- .type-post -->
{% endfor %}
</div><!-- .content__posts -->

<div class="pagination">
  <ul>
  {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/">Prev</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">Prev</a>
      {% endif %}
    </li>
  {% else %}
    <li class="previous disabled">
      Prev
    </li>
  {% endif %}


  {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path }}">Next</a>
    </li>
  {% else %}
    <li class="next disabled">
      Next
    </li>
  {% endif %}
  </ul>
</div><!-- .pagination -->
