
// -------------------------------
// BITS
// -------------------------------


// COLORS ------------------------
$dark-color: #555;
$body-color: #555;
$link-color: #429CD4;
$jazz-color: #32425B;
$border-color: #EAECEF;
$brand-color: #CB696A;
$slate: #383C40;


// SPACING -----------------------
$spacing-xxs: .3rem;
$spacing-xs: .5rem;
$spacing-s: 1rem;
$spacing-m: 1.5rem;
$spacing-l: 2rem;
$spacing-xl: 2.5rem;

// Other -------------------------
$global-radius: 3px;
