
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

$darkColor: #252525;
// $bodyColor: ;
$linkColor: #f33b00;
$jazzColor: #839496;
$borderColor: #ecefef;
// $alertColor: ;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

$spacing-xxs: 5px ;
$spacing-xs: 10px;
$spacing-s: 20px;
$spacing-m: 30px;
$spacing-l: 40px;
$spacing-xl: 50px;
