
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

$darkColor: #252525;
// $bodyColor: ;
$linkColor: #f33b00;
$borderColor: #eee;
$jazzColor: #839496;
// $alertColor: ;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

// $spacing-xxs: ;
// $spacing-xs: ;
// $spacing-s: ;
// $spacing-m: ;
// $spacing-l: ;
// $spacing-xl: ;
