// -------------------------------
// FORMS
// -------------------------------

// WEBKIT PLACEHOLDER ------------
::-webkit-input-placeholder {
  color: lighten($dark-color, 20%);
  transition: all .2s ease;
}

input:focus::-webkit-input-placeholder {
  color: lighten($dark-color, 30%);
}

// FIREFOX 18 --------------------
:-moz-placeholder {
  color: lighten($dark-color, 20%);
  transition: all .2s ease;
}

input:focus:-moz-placeholder {
  color: lighten($dark-color, 30%);
}

// FIREFOX 19 --------------------
::-moz-placeholder {
  color: lighten($dark-color, 20%);
  transition: all .2s ease;
}

input:focus::-moz-placeholder {
  color: lighten($dark-color, 30%);
}

.site__search-form {
  margin-bottom: 1rem;
  input {
    background: lighten($dark-color, 63%);
    border-radius: $global-radius;
    color: $dark-color;
    font-size: 1rem;
    min-height: 45px;
    padding: .625rem 1rem;
    transition: .2s ease-in-out;
    width: 100%;
    @media #{$medium-up} {
      font-size: .8rem;
      padding: .625rem;
    }
  }
}

.newsletter {
  border-bottom: 1px solid rgba(white, .2);
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  .card & {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  h4 {
    margin: 0;
    text-transform: none;
    width: 100%;
  }
  form {
    display: flex;
  }
  input {
    @extend %sans;

    border-radius: 3px;
    color: $dark-color;
    font-size: .85rem;
    max-height: 45px;
    padding: .625rem;
    transition: .2s ease-in-out;
    width: 100%;
    &:focus {
      background: lighten(#FEFFDA, 3%);
    }
  }
  .button-group {
    display: flex;
    flex: 1 1 20%;
    .button {
      width: 100%;
    }
  }
  .newsletter__inputs {
    display: flex;
    flex: 2 1 80%;
  }
  .form-group {
    flex: 1 1 50%;
    margin-right: .5rem;
  }
}

.newsletter__thankyou {
  &.js-submitted {
    @extend %sans;

    background: darken($slate, 5%);
    border-radius: 3px;
    padding: .9375rem .5rem;
    p {
      font-size: 1rem;
    }
  }
}
