/*

FORMS
------------------------------------------- */

// Webkit Placeholder
::-webkit-input-placeholder {
  color: lighten($darkColor, 20%);
  transition: all .2s ease;
}

input:focus::-webkit-input-placeholder {
  color: lighten($darkColor, 50%);
}

// Firefox 18
:-moz-placeholder { /* Firefox 18- */
  color: lighten($darkColor, 20%);
  transition: all .2s ease;
}

input:focus:-moz-placeholder {
  color: lighten($darkColor, 50%);
}

// Firefox 19
::-moz-placeholder {  /* Firefox 19+ */
  color: lighten($darkColor, 20%);
  transition: all .2s ease;
}

input:focus::-moz-placeholder {
  color: lighten($darkColor, 50%);
}

.site__search-form {
  input {
    border: 1px solid $borderColor;
    border-radius: 3px;
    color: $darkColor;
    font-size: .9rem;
    padding: rem-calc(10px);
    width: 100%;
    transition: .2s ease-in-out;
    &:focus {
      border-color: $linkColor;
    }
  }
}

.newsletter {
  border-bottom: 1px solid rgba(white, .2);
  margin-bottom: rem-calc(20px);
  padding-bottom: rem-calc(20px);
  h4 {
    margin: 0;
    text-transform: none;
    width: 100%;
  }
  form {
    display: flex;
  }
  input {
    border-radius: 3px;
    color: $darkColor;
    font-size: .95rem;
    max-height: 45px;
    padding: rem-calc(10px);
    transition: .2s ease-in-out;
    width: 100%;
    @extend %sans;
    &:focus {
      background: lighten(#feffda, 3%);
    }
  }
  .button-group {
    display: flex;
    width: 20%;
    .button.button--primary {
      border-radius: 3px;
      flex: 1 1 auto;
    }
  }

  .newsletter__inputs {
    display: flex;
    flex: 1 1 auto;
  }

  .form-group {
    flex: 1 1 auto;
    margin-right: .5rem;
  }
}


.newsletter__thankyou {
  &.js-submitted {
    background: darken($footer-color, 5%);
    border-radius: 3px;
    padding: rem-calc(15px) rem-calc(8px);
    @extend %sans;
    p {
      font-size: 1rem;
    }
  }
}
