 /*

IMAGES
------------------------------------------- */

img {
  width: 100%;
  height: auto;
}

.border--white {
  background: white;
  padding: 10px;
}

figure {
  margin-bottom: rem-calc(30px);
}

figcaption {
  @extend %sans;
  color: lighten($dark-color, 20%);
  font-size: 1.1rem;
  line-height: 130%;
  code {
    font-size: .9rem;
    @media #{$medium-up} {
      font-size: .7rem;
    }
  }
  @media #{$medium-up} {
    font-size: .9rem;
  }
}

.extendout {
  width: 100%;
  margin-left: 0;
}

.fullwidth {
  margin: 2rem 0;
}

.alignleft {
  @extend %clearfix;
  img {
    @media #{$medium-up} {
      float: left;
      width: 70%;
    }
  }
  figcaption {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    @media #{$medium-up} {
      float: left;
      padding-left: $spacing-s;
      width: 25%;
    }
    @media #{$large-up} {
      width: 30%;
    }
  }
}

.alignright {
  @extend %clearfix;
  img {
    @media #{$medium-up} {
      float: right;
      width: 70%;
    }
  }
  figcaption {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    @media #{$medium-up} {
      float: right;
      padding-right: $spacing-s;
      width: 25%;
    }
    @media #{$large-up} {
      width: 30%;
    }
  }
}

.small__right {
  float: right;
  margin-left: rem-calc(30px);
  width: 40%;
  @media #{$large-up} {
    width: 45%;
  }
  figcaption {
    width: 90%;
    margin: 0 auto;
  }
}

.small__left {
  float: left;
  margin-right: rem-calc(30px);
  width: 40%;
  @media #{$large-up} {
    width: 45%;
  }
  figcaption {
    width: 90%;
    margin: 0 auto;
  }
}

.photo-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  figcaption {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media #{$medium-up} {
      width: 90%;
    }
    @media #{$large-up} {
      width: 65%;
    }
  }
  @media #{$medium-up} {
    width: 100%;
  }
  img {
    padding-bottom: rem-calc(6px);
    @media #{$medium-up} {
      padding-left: rem-calc(3px);
      padding-right: rem-calc(3px);
    }
  }
  .grid-thirds {
    @media #{$medium-up} {
      width: 33.3%;
    }
  }
  .grid-half {
    @media #{$medium-up} {
      width: 50%;
    }
  }
}
