
/*

MIXINS
-------------------------------------------
Table of Contents

- Font Face Import

*/



/*

FONT FACE IMPORT
-------------------------------------------
Mixin to help import fonts
------------------------------------------- */

@mixin embed-font($font-name, $font-filepath-and-name){
  @font-face {
    font-family: $font-name;
    src: url(asset_path($font-filepath-and-name+".eot")); /* IE9 Compat Modes */
    src: url(asset_path($font-filepath-and-name+".eot?#iefix")) format('embedded-opentype'), /* IE6-IE8 */
         url(asset_path($font-filepath-and-name+".woff")) format('woff'), /* Modern Browsers */
         url(asset_path($font-filepath-and-name+".ttf"))  format('truetype'), /* Safari, Android, iOS */
         url(asset_path($font-filepath-and-name+".svg#svgFontName")) format('svg'); /* Legacy iOS */
    }
}

/*

Media Queries
-------------------------------------------
Mixin to help import fonts
------------------------------------------- */


@mixin breakpoint($point) {
  @if $point == screen-xl {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == screen-l {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == screen-m {
    @media (max-width: 700px)  { @content; }
  }
  @else if $point == screen-s {
    @media (max-width: 400px)  { @content; }
  }
  @else if $point == screen-xs {
    @media (max-width: 320px)  { @content; }
  }
}
