// -------------------------------
// MIXINS
// -------------------------------

// MEDIA QUERIES
// -------------------------------

$small-only: 'screen and (max-width: 39.9375em)';
$medium-up: 'screen and (min-width: 40em)';
$medium-only: 'screen and (min-width: 40em) and (max-width: 63.9375em)';
$large-up: 'screen and (min-width: 64em)';
$large-only: 'screen and (min-width: 64em) and (max-width: 74.9375em)';
$large-up: 'screen and (min-width: 64em)';
$xlarge-up: 'screen and (min-width: 90.063em)';
$xlarge-only: 'screen and (min-width: 90.063em) and (max-width: 120em)';
$xxlarge-up: 'screen and (min-width: 120.063em)';
