/*

OBJECTS
------------------------------------------- */

body {
  // background: $darkColor;
}
.container {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  @extend %clearfix;
  position: relative;
}
