// -------------------------------
// OBJECTS
// -------------------------------

.container {
  @extend %clearfix;

  margin: 0 auto;
  position: relative;
  width: 100%;
  @media #{$medium-up} {
    max-width: 768px;
  }
  @media #{$large-up} {
    max-width: 1000px;
  }
}

svg {
  width: 100%;
}

iframe {
  margin: 1rem 0;
  width: 100%;
}
