// -------------------------------
// PAGE NAVIGATION
// -------------------------------

.pagination {
  @extend %clearfix;
  @extend %sans;

  text-align: center;
  ul {
    list-style-type: none;
    margin: 0 auto;
    li {
      display: inline-block;
      font-size: 1.15em;
      line-height: inherit;
      margin: 0;
      padding: 0;
    }
  }
}

.pagination a {
  background: $dark-color;
  border: none !important;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: .75em;
  font-weight: bold;
  margin: 0 5px;
  padding: 5px 14px;
  text-decoration: none !important;
  &:hover {
    background: $jazz-color;
    color: white;
  }
  &:active {
    box-shadow: inset 2px 2px 0 rgba(black, .2);
  }
}

.disabled {
  border: none !important;
  border-radius: 3px;
  color: lighten($dark-color, 40%);
  display: inline-block;
  font-size: .85em !important;
  font-weight: bold;
  margin: 0 5px;
  padding: 5px 14px !important;
}
