// -------------------------------
// PAGE NAVIGATION
// -------------------------------

%nav-button {
  font-size: .85rem;
  font-weight: 600;
  margin: 0;
  padding: 6px 12px;
}

.page-nav {
  margin-bottom: 0;
  list-style-type: none;
  text-align: center;
  @extend %sans;
  li {
    display: inline-block;
  }
  .previous:not(.disabled),
  .next:not(.disabled) {
    padding: 0;
    margin: 0;
    a {
      @extend %nav-button;
      background-color: $dark-color;
      border-radius: 3px;
      color: white;
      text-decoration: none;
      &:hover,
      &:focus {
        background-color: $jazz-color;
      }
      &:focus {
        outline: 1px dotted $link-color;
      }
    }
  }
  .disabled {
    @extend %nav-button;

    color: lighten($dark-color, 30%);
  }
}
