/*

PAGE NAVIGATION
------------------------------------------- */

.pagination {
  @extend %clearfix;
  @extend %sans;
  text-align: center;
  margin: 8% 0;
  ul {
    margin: 0;
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0;
      line-height: inherit;
      padding: 0;
    }
  }
}

.pagination a {
  background: $jazzColor;
  border: none !important;
  display: inline-block;
  padding: 5px 14px;
  margin: 0 5px;
  font-size: .73em;
  font-weight: bold;
  color: white;
  text-decoration: none !important;
  @include border-radius (4px);
  &:hover {
    background: darken($jazzColor, 10%);
    color: white;
  }
  &:active {
    box-shadow: inset 2px 2px 0 rgba(black, .2);
  }
}

.disabled {
  background: $borderColor;
  color: lighten($darkColor, 40%);
  padding: 5px 14px !important;
  margin: 0 5px;
  @include border-radius (4px);
  border: none !important;
  display: inline-block;
  font-weight: bold;
  font-size: .85em;
}
