$monospace-font-stack: Operator Mono, Inconsolata, 'Inconsolata-g for Powerline', monospace;

// -------------------------------

pre {
  background: #FCFCFC;
  border: 1px solid #F0F0F0;
  border-radius: 3px;
  font-family: $monospace-font-stack;
  line-height: 1.5;
  overflow-x: auto;
  padding: 1rem;
  white-space: pre;
  code {
    background: none;
    padding: 0;
  }
}

code {
  background: lighten(#F5F5F5, 1%);
  border-radius: 3px;
  color: #bf616a;
  font-family: $monospace-font-stack;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 1px 3px;
  pre & {
    color: inherit;
  }
  @media #{$medium-up} {
    font-size: 1rem;
  }
}




.highlight {
  background: #FFF;
  color: #4D4D4C;
  margin-bottom: $spacing-s;

  .c { color: #a7adba; font-style: italic; } /* Comment */
  .err { color: #bf616a } /* Error */
  .k { color: #b48ead; } /* Keyword */
  .l { color: #d08770; } /* Literal */
  .n { color: lighten(#2b303b, 20%) } /* Name */
  .o { color: darken(#96b5b4, 15%); } /* Operator */
  .p { color: lighten(#2b303b, 20%) } /* Punctuation */
  .cm { color: #a7adba; font-style: italic; } /* Comment.Multiline */
  .cp { color: #a7adba; font-style: italic; } /* Comment.Preproc */
  .c1 { color: #a7adba; font-style: italic; } /* Comment.Single */
  .cs { color: #a7adba; font-style: italic; } /* Comment.Special */
  .gd { color: #bf616a } /* Generic.Deleted */
  .ge { font-style: italic } /* Generic.Emph */
  .gh { color: lighten(#2b303b, 20%); font-weight: bold } /* Generic.Heading */
  .gi { color: #a3be8c; } /* Generic.Inserted */
  .gp { color: #a7adba; font-weight: bold } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: darken(#96b5b4, 15%);; font-weight: bold } /* Generic.Subheading */
  .kc { color: #b48ead; } /* Keyword.Constant */
  .kd { color: #b48ead; } /* Keyword.Declaration */
  .kn { color: darken(#96b5b4, 15%); } /* Keyword.Namespace */
  .kp { color: #b48ead; } /* Keyword.Pseudo */
  .kr { color: #b48ead; } /* Keyword.Reserved */
  .kt { color: #d08770; } /* Keyword.Type */
  .ld { color: #a3be8c; } /* Literal.Date */
  .m { color: #d08770; } /* Literal.Number */
  .s { color: #a3be8c; } /* Literal.String */
  .na { color: #d08770 } /* Name.Attribute */
  .nb { color: #96b5b4 } /* Name.Builtin */
  .nc { color: #d08770; } /* Name.Class */
  .no { color: #bf616a } /* Name.Constant */
  .nd { color: darken(#96b5b4, 15%); } /* Name.Decorator */
  .ni { color: lighten(#2b303b, 20%) } /* Name.Entity */
  .ne { color: #bf616a } /* Name.Exception */
  .nf { color: #96b5b4 } /* Name.Function */
  .nl { color: lighten(#2b303b, 20%) } /* Name.Label */
  .nn { color: #d08770; } /* Name.Namespace */
  .nx { color: #8fa1b3 } /* Name.Other */
  .py { color: lighten(#2b303b, 20%) } /* Name.Property */
  .nt { color: #bf616a; } /* Name.Tag */
  .nv { color: #bf616a } /* Name.Variable */
  .ow { color: darken(#96b5b4, 15%); } /* Operator.Word */
  .w { color: lighten(#2b303b, 20%) } /* Text.Whitespace */
  .mf { color: #d08770; } /* Literal.Number.Float */
  .mh { color: #d08770; } /* Literal.Number.Hex */
  .mi { color: #d08770; } /* Literal.Number.Integer */
  .mo { color: #d08770; } /* Literal.Number.Oct */
  .sb { color: #a3be8c; } /* Literal.String.Backtick */
  .sc { color: lighten(#2b303b, 20%) } /* Literal.String.Char */
  .sd { color: #a7adba } /* Literal.String.Doc */
  .s1, .s2 { color: #a3be8c; } /* Literal.String.Double */
  .se { color: #d08770; } /* Literal.String.Escape */
  .sh { color: #a3be8c; } /* Literal.String.Heredoc */
  .si { color: lighten(#2b303b, 20%); } /* Literal.String.Interpol */
  .sx { color: #a3be8c; } /* Literal.String.Other */
  .sr { color: #a3be8c; } /* Literal.String.Regex */
  .ss { color: #a3be8c; } /* Literal.String.Symbol */
  .bp { color: lighten(#2b303b, 20%) } /* Name.Builtin.Pseudo */
  .vc { color: #bf616a } /* Name.Variable.Class */
  .vg { color: #bf616a } /* Name.Variable.Global */
  .vi { color: #bf616a } /* Name.Variable.Instance */
  .il { color: #d08770; } /* Literal.Number.Integer.Long */
  .pi { color: #566076; }
}
