$monospace-font-stack: Operator Mono, Inconsolata, 'Inconsolata-g for Powerline', monospace;

// -------------------------------

pre {
  background: #FCFCFC;
  border: 1px solid #F0F0F0;
  border-radius: 3px;
  font-family: $monospace-font-stack;
  line-height: 1.5;
  overflow-x: auto;
  padding: 1rem;
  white-space: pre;
  code {
    background: none;
    padding: 0;
  }
}

code {
  background: lighten(#F5F5F5, 1%);
  border-radius: 3px;
  color: #BF616A;
  font-family: $monospace-font-stack;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 1px 3px;
  pre & {
    color: inherit;
  }
  @media #{$medium-up} {
    font-size: 1rem;
  }
  a & {
    color: inherit;
  }
}

.highlight {
  color: #4D4D4C;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  .c {
    color: #A7ADBA;
    font-style: italic;
  } /* Comment */
  .err {
    color: #BF616A;
  } /* Error */
  .k {
    color: #B48EAD;
  } /* Keyword */
  .l {
    color: #D08770;
  } /* Literal */
  .n {
    color: lighten(#2B303B, 20%);
  } /* Name */
  .o {
    color: darken(#96B5B4, 15%);
  } /* Operator */
  .p {
    color: lighten(#2B303B, 20%);
  } /* Punctuation */
  .cm {
    color: #A7ADBA;
    font-style: italic;
  } /* Comment.Multiline */
  .cp {
    color: #A7ADBA;
    font-style: italic;
  } /* Comment.Preproc */
  .c1 {
    color: #A7ADBA;
    font-style: italic;
  } /* Comment.Single */
  .cs {
    color: #A7ADBA;
    font-style: italic;
  } /* Comment.Special */
  .gd {
    color: #BF616A;
  } /* Generic.Deleted */
  .ge {
    font-style: italic;
  } /* Generic.Emph */
  .gh {
    color: lighten(#2B303B, 20%);
    font-weight: bold;
  } /* Generic.Heading */
  .gi {
    color: #A3BE8C;
  } /* Generic.Inserted */
  .gp {
    color: #A7ADBA;
  } /* Generic.Prompt */
  .gs {
    font-weight: bold;
  } /* Generic.Strong */
  .gu {
    color: darken(#96B5B4, 15%);
    font-weight: bold;
  } /* Generic.Subheading */
  .kc {
    color: #B48EAD;
  } /* Keyword.Constant */
  .kd {
    color: #B48EAD;
  } /* Keyword.Declaration */
  .kn {
    color: darken(#96B5B4, 15%);
  } /* Keyword.Namespace */
  .kp {
    color: #B48EAD;
  } /* Keyword.Pseudo */
  .kr {
    color: #B48EAD;
  } /* Keyword.Reserved */
  .kt {
    color: #D08770;
  } /* Keyword.Type */
  .ld {
    color: #A3BE8C;
  } /* Literal.Date */
  .m {
    color: #D08770;
  } /* Literal.Number */
  .s {
    color: #A3BE8C;
  } /* Literal.String */
  .na {
    color: #D08770;
  } /* Name.Attribute */
  .nb {
    color: #96B5B4;
  } /* Name.Builtin */
  .nc {
    color: #D08770;
  } /* Name.Class */
  .no {
    color: #BF616A;
  } /* Name.Constant */
  .nd {
    color: darken(#96B5B4, 15%);
  } /* Name.Decorator */
  .ni {
    color: lighten(#2B303B, 20%);
  } /* Name.Entity */
  .ne {
    color: #BF616A;
  } /* Name.Exception */
  .nf {
    color: #96B5B4;
  } /* Name.Function */
  .nl {
    color: lighten(#2B303B, 20%);
  } /* Name.Label */
  .nn {
    color: #D08770;
  } /* Name.Namespace */
  .nx {
    color: #8FA1B3;
  } /* Name.Other */
  .py {
    color: lighten(#2B303B, 20%);
  } /* Name.Property */
  .nt {
    color: #BF616A;
  } /* Name.Tag */
  .nv {
    color: #BF616A;
  } /* Name.Variable */
  .ow {
    color: darken(#96B5B4, 15%);
  } /* Operator.Word */
  .w {
    color: lighten(#2B303B, 20%);
  } /* Text.Whitespace */
  .mf {
    color: #D08770;
  } /* Literal.Number.Float */
  .mh {
    color: #D08770;
  } /* Literal.Number.Hex */
  .mi {
    color: #D08770;
  } /* Literal.Number.Integer */
  .mo {
    color: #D08770;
  } /* Literal.Number.Oct */
  .sb {
    color: #A3BE8C;
  } /* Literal.String.Backtick */
  .sc {
    color: lighten(#2B303B, 20%);
  } /* Literal.String.Char */
  .sd {
    color: #A7ADBA;
  } /* Literal.String.Doc */
  .s1,
  .s2 {
    color: #A3BE8C;
  } /* Literal.String.Double */
  .se {
    color: #D08770;
  } /* Literal.String.Escape */
  .sh {
    color: #A3BE8C;
  } /* Literal.String.Heredoc */
  .si {
    color: lighten(#2B303B, 20%);
  } /* Literal.String.Interpol */
  .sx {
    color: #A3BE8C;
  } /* Literal.String.Other */
  .sr {
    color: #A3BE8C;
  } /* Literal.String.Regex */
  .ss {
    color: #A3BE8C;
  } /* Literal.String.Symbol */
  .bp {
    color: lighten(#2B303B, 20%);
  } /* Name.Builtin.Pseudo */
  .vc {
    color: #BF616A;
  } /* Name.Variable.Class */
  .vg {
    color: #BF616A;
  } /* Name.Variable.Global */
  .vi {
    color: #BF616A;
  } /* Name.Variable.Instance */
  .il {
    color: #D08770;
  } /* Literal.Number.Integer.Long */
  .pi {
    color: #566076;
  }
}
