/*

TYPE
-------------------------------------------
Table of Contents

	- Base Type

	- Fonts

	- Headings

	- Text

	- Inline Type

	- Blockquote

	- hr

	- Links

------------------------------------------- */


/*

BASE TYPE
------------------------------------------- */

body {
	font-size: 108%;
	line-height: 140%;
	color: $bodyColor;
	@extend %serif;
  @include breakpoint(screen-l) {
    font-size: 103%;
  }
  @include breakpoint(screen-xs) {
    font-size: 95%;
  }
}

// TYPE SIZE VARIABLES

$text-size-xs: .8em;
$text-size-s: .9em;
$text-size-m: 1em;
$text-size-l: 1.5em;
$text-size-xl: 2em;

%heading-size-s { font-size: .95em;}
%heading-size-m { font-size: 1.25em;}
%heading-size-l { font-size: 1.5em;}
%heading-size-xl { font-size: 2em;}


/*

FONTS
------------------------------------------- */

%serif {
	font-family: "ff-tisa-web-pro",serif;
  // font-family: "freight-text-pro",sans-serif;
}


%sans {
	// font-family: "freight-sans-pro",sans-serif;
  font-family: "jaf-facitweb",sans-serif;
}

/*

HEADINGS
------------------------------------------- */
%heading-size-s { font-size: .95em;}
%heading-size-m { font-size: 1.25em;}
%heading-size-l { font-size: 1.5em;}
%heading-size-xl { font-size: 2em;}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %sans;
  line-height: 130%;
}

h1,h2,h3,h5 {
  color: $headlineColor;
}

/*

TEXT
------------------------------------------- */

.content__main-content {
	p {
    font-size: 1em;
    line-height: 170%;
    margin: 0 0 3.125%;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (max-width: 480px ) {
      margin-bottom: 7%;
    }
  }
  h1 {
    line-height: 125%;
  }
  h2 {
    margin: 1.8em 0 .2em;
    font-size: 1.45em;
    font-weight: 700;
  }
  h3 {
    margin: 1.3em 0 .2em;
    font-size: 1.3em;
    font-weight: bold;
  }
  h4 {
    color: $jazzColor;
    margin: 2em 0 .2em;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
  }
  h5 {
    margin: 2em 0 .2em;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    &:before {
      background: $borderColor;
      content: " ";
      display: block;
      height: 1px;
      width: 80px;
      margin-bottom: 10px;
    }
  }
}

ul {
  margin: 0 0 03.125% 6%;
  @media screen and (max-width: 700px ) {
    margin: 0 0 0 25px;
  }
  li {
    font-size: 15px;
    line-height: 160%;
    list-style-type: disc;
    padding: 01.15% 0 0;
    @media screen and (max-width: 400px ) {
      font-size: 12px;
    }
    p {
      font-size: 115% !important;
      margin: 0 0 3.125% 0 !important;
      @media screen and (max-width: 620px ) {
        font-size: 125% !important;
      }
      @media screen and (max-width: 500px ) {
        font-size: 110% !important;
      }
      @media screen and (max-width: 400px ) {
        font-size: 130% !important;
      }
      @media screen and (max-width: 340px ) {
        font-size: 125% !important;
      }
    }
    &:last-child {
      padding: 01.25% 0 0;
    }
  }
}

ol {
  list-style-type: decimal;
  margin: 0 0 3.125% 6%;
  text-align: left;
  @media screen and (max-width: 700px ) {
    margin: 0 0 0 25px;
  }
  li {
    font-size: 1em;
    line-height: 160%;
    margin: 0 0 2.5%;
    p {
      font-size: inherit !important;
      margin: 0 0 3.125% 0 !important;
    }
  }
}

.page__title {
  color: $headlineColor;
  font-size: 2.5em;
  font-weight: 800;
  margin: 0 0 1em;
}


/*

INLINE TYPE
------------------------------------------- */

strong {
	font-weight: bold;
  em {
   font-weight: 700;
   font-style: italic;
  }
}

em, cite {
	font-style: italic;
}

sup {
  a {
    border-bottom: none;
    font-size: .65em;
    font-weight: bold;
  }
}

pre {
  background: lighten($borderColor, 3%);
  padding: 3% 3% 3%;
  white-space: pre;
  overflow-x: auto;
  @media screen and (max-width: 700px ) {
    padding: 3%;
  }
  code {
    background: none;
    padding: 0;
  }
}

.highlight {
  margin: 0 0 3.125%;
}

code {
  background: $borderColor;
  color: $darkColor;
  font-family: monospace;
  padding: 2px 5px;
}

/*

BLOCKQUOTE
------------------------------------------- */

blockquote {
  border-left: 2px solid $borderColor;
  color: lighten($bodyColor, 5%);
  padding-left: 15px;
  margin: 0 0 03.125% 3%;
  width: 90%;
  @media screen and (max-width: 480px ) {
    margin-bottom: 7%;
  }
  p {
    margin-left: 0 !important;
  }
  small {
    display: block;
    font-size: .80em;
    margin: 02.34375% 0 0;
    &:before {
      content: "—";
      color: $borderColor;
    }
  }
}

/*

HR
------------------------------------------- */

hr {
	border: solid $borderColor;
	border-width: 2px 0 0;
	margin: 2.5em auto;
	height: 0;
	width: auto;
	max-width: 200px;
	display: block;
	padding: 0;
  @extend %clearfix;
}


/*

LINKS
------------------------------------------- */

a {
	color: $linkColor;
	text-decoration: underline;
	@include transition(.2s ease-in-out);
	&:hover {
		color: lighten($linkColor, 10%);
	}
	header & {
		text-decoration: none;
	}
}

a.reversefootnote {
  text-decoration: none !important;
  margin-left: 5px;
}

/*

ICON FONT
------------------------------------------- */
@include embed-font("Icomoon", "icon-font/icomoon");

%icon-font {
	font-family: "Icomoon";
}

[data-icon]:before {
  content: attr(data-icon);
  @extend %icon-font;
  speak: none;
}
