<div class="button-group">
  <a href="{{ author.web }}" class="button button--outline button--small">{% include icons/icon-website.html css_classes="icon--small" %} Website</a>
  <a href="https://twitter.com/{{ author.twitter }}" class="button button--outline button--small">{% include icons/icon-twitter.html css_classes="icon--small" %}Twitter</a>
  <a href="https://github.com/{{ author.github }}" class="button button--outline button--small">{% include icons/icon-github.html css_classes="icon--small" %}GitHub</a>
</div><!-- /.button-group -->
