{% if page.date %}
  <li><small class="post__date"><time datetime="{{ page.date | date_to_xmlschema }}">{% assign d = page.date | date: "%-d"  %}{{ page.date | date: "%B" }}
  {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}</time></small>{% if page.tags.size > 0 %} &middot; {% endif %}</li>
{% else %}
  <li><small class="post__date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign d = post.date | date: "%-d"  %}{{ post.date | date: "%B" }}
  {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
  {{ post.date | date: "%Y" }}</time></small> <a href="{{ post.url }}" class="link__icon" title="Link to {{ post.title }}">&infin;</a></li>
{% endif %}
