<footer class="site__footer" role="contentinfo">
  <div class="container">
    

    <div class="footer__sections">
      <section class="footer__about">
        <a href="/" class="footer__logo">
          {% include boldreport-logo.html %}
        </a>

        <p><em>The Bold Report</em> is a blog written by Tim Smith and friends about design, development, technology, Apple, Star Wars, movies, comics, and other geekery.</p>
      </section><!-- /.footer__about -->

      <section class="footer__subscribe">
        <h6>Subscribe</h6>
        <ul>
          <li><a href="http://theboldreport.net/atom.xml">Master Feed</a></li>
          <li><a href="http://theboldreport.net/atom.articles.xml">Articles-Only Feed</a></li>
          <li><a href="https://twitter.com/theboldreport" title="The Bold Report on Twitter">@theboldreport</a></li>
        </ul>
      </section><!-- /.footer__subscribe -->

      <section class="footer__links">
        <h6>Site Links</h6>
        <ul>
          <li><a href="/archives">Archives</a></li>
          <li><a href="/styleguide/">Style Guide</a></li>
          <li><a href="/podcasting-equipment/">Podcast Equipment</a></li>
          <li><a href="https://github.com/ttimsmith/theboldreport.net">View Source on GitHub</a></li>
        </ul>
      </section><!-- /.footer__links -->

    </div><!-- /.footer__sections -->

    <small class="site__copyright"><em>The Bold Report</em> &copy; 2013&ndash;{{ site.time | date: "%Y" }} Timothy B. Smith.</small>
    <small>Made with {% include icons/icon-heart.html css_classes="icon--inline icon--medium" %} in Saint Paul, MN.</small>
  </div><!-- /.container -->
</footer>

<!-- JS libraries -->
<script>
  {% asset 'app' %}

  {% if page.fittext %}
    {% asset 'fittext' %}

    jQuery(document).ready(function($) {
      $(".post__title").fitText();
    });
  {% endif %}

  {% if page.lettering == 'reg' %}
    {% asset 'lettering' %}
    jQuery(document).ready(function($) {
      $(".post__title").lettering();
    });
    {% elsif page.lettering == 'words' %}
      {% asset 'lettering' %}
      jQuery(document).ready(function($) {
        $(".post__title").lettering('words');
      });
  {% endif %}
</script>

{% js 'vendor/lunr.min' %}
<script type="text/javascript" src="/search.js"></script>

{% if page.artdirect_typo %}
  <script src="https://use.typekit.net/{{ page.artdirect_typo }}.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
{% endif %}
