

        <footer class="site__footer" role="contentinfo">
          <small><a href="/subscribe/">Subscribe</a> &middot; <a href="/archives/">Archives</a> &middot; <a href="https://github.com/ttimsmith/theboldreport.net">View Source on GitHub</a></small>
          <small><em>The Bold Report</em> &copy; 2013&ndash;{{ site.time | date: "%Y" }} Anythin’ Goes LLC. &amp; Timothy B. Smith.</small>
        </footer>

        </div><!-- .container -->

      <!-- Other JS libraries -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      {% javascript app %}

    </body>
</html>
