<!DOCTYPE html>
  <html>
    <head>

      <!--
      How much does a polar bear weigh? Just enough to break the ice.

      Made with love in beautiful Saint Paul, Minnesota.
      The Bold Report © 2013—{{ site.time | date: "%Y" }} Anythin’ Goes and Timothy B. Smith.

      -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{% if page.title %}{{ page.title }} :: {% endif %}{{ site.name }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <link href="/apple-touch-icon.png" rel="apple-touch-icon">

      <!-- DNS Prefetch -->
      <link rel="dns-prefetch" href="//cloud.typography.com">

      <!-- Author Info for Google -->
      <link rel="author" href="//plus.google.com/117161754644004218749">
      <meta name="author" content="Tim Smith">
      <link rel="canonical" href="//theboldreport.net{{ page.url }}">
      <meta name="description" property="og:description" name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}">

      <!-- Facebook Article Info -->
      <meta property="og:image" name="twitter:image" content="//theboldreport.net/{% if page.featured_image %}{{ page.featured_image }}{% else %}theboldreport-avatar.png{% endif %}">
      <meta property="og:title" name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}">
      <meta property="og:site_name" content="The Bold Report">
      <meta property="og:url" content="//theboldreport.net{{ page.url }}">
      {% if page.custom_type %}
      <meta property="og:type" content="article">
      {% endif %}

      <!-- Twitter Info -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@theboldreport">
      <meta name="twitter:creator" content="@smithtimmytim">

      <!-- Micro.blog Verification -->
      <link href="https://micro.blog/smith" rel="me" />

      <link rel="alternate" type="application/rss+xml" title="RSS Feed for The Bold Report" href="https://feedpress.me/theboldreport" />
      <link rel="alternate" type="application/rss+xml" title="Articles-Only Feed for The Bold Report" href="https://feedpress.me/theboldreport-articles" />

      <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6973314/6893552/css/fonts.css" />

      <style>
        {% asset 'global' %}
        {% if page.custom_css %}
          {% asset '{{ page.custom_css}}' %}
        {% endif %}
      </style>
    </head>
    <body>
    <!-- Don't read the source like a caveperson! It's all on GitHub: https://github.com/smithtimmytim/theboldreport.net  -->
