{% include head.html %}

<header class="site__header" role="banner">
  <div class="site__branding">
    <a href="/" class="logo">
      {% include boldreport-logo.html %}
    </a>
  </div><!-- .site__branding -->

  <nav class="site__navigation" role="navigation">
    <ul class="primary-navigation">
      <li><a href="/about/">About</a></li>
      <li><a href="/archives/">Archives</a></li>
      <li><a href="/subscribe/">Subscribe</a></li>
    </ul>
  </nav><!-- .site__navigation -->

  {% include search-form.html css_classes="header__search js-show-menu" show_menu="yes" %}

</header><!-- .site__header-->
