<section class="nav-search__wrapper top-push-bar">
  <div class="container">

    <div id="search" class="site__search-form">
      <form action="/search" method="get">
        <p>
          <input type="text" id="search-query" name="q" placeholder="Search…" autocomplete="off">
        </p>
      </form>
    </div><!-- .site__search-form -->

    <nav class="site__navigation" role="navigation">
      <h3>Site Navigation</h3>
      <ul class="primary-navigation">
        <li><a href="/archives/">Archives</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/subscribe/">Subscribe</a></li>
        <li><a href="/support/">Support</a></li>
      </ul>
    </nav>



  </div><!-- /.container -->
  </section><!-- /.nav-search__wrapper -->
