<aside class="sidebar" role="complementary">

  <figure class="border--white">
    <img src="/uploads/2013/12/tim_500.jpg" alt="Tim Smith">
  </figure>

  <div class="sidebar__about-me">
    <p><em>The Bold Report</em> is designed, developed, and written by Tim Smith.</p>
  </div>


  <nav class="site__navigation" role="navigation">
    <ul class="primary-navigation">
      <li><a href="/archives/">Archives</a></li>
      <!-- <li><a href="#">Membership</a></li> -->
      <li><a href="/about/">About</a></li>
      <li><a href="/subscribe/">Subscribe</a></li>
      <li><a href="/support/">Support</a></li>
    </ul>
  </nav>

  <div class="sidebar__ad" id="fusion_ad">
    <a class="fusionlink" href="http://fusionads.net">Powered by Fusion</a>
  </div>

  <div id="search" class="site__search-form">
    <form action="/search" method="get">
      <p>
        <input type="text" id="search-query" name="q" placeholder="Search…" autocomplete="off">
      </p>
    </form>
  </div><!-- .site__search-form -->

</aside>
