<aside class="sidebar" role="complementary">

  <div class="site__branding">
    <a href="/" class="logo">The Bold Report</a>
  </div><!-- .site__branding -->

  <div class="sidebar__wrap">
    <div class="sidebar__about-me">
      <p><em>The Bold Report</em> is designed, developed, and written by Tim&nbsp;Smith.</p>
    </div>


    <nav class="site__navigation" role="navigation">
      <ul class="primary-navigation">
        <li><a href="/archives/">Archives</a></li>
        <!-- <li><a href="#">Membership</a></li> -->
        <li><a href="/about/">About</a></li>
        <li><a href="/subscribe/">Subscribe</a></li>
        <li><a href="/support/">Support</a></li>
      </ul>
    </nav>

    <div class="sidebar__ad" id="fusion_ad">
      <a class="fusionlink" href="http://fusionads.net">Powered by Fusion</a>
    </div>

    <div id="search" class="site__search-form">
      <form action="/search" method="get">
        <p>
          <input type="text" id="search-query" name="q" placeholder="Search…" autocomplete="off">
        </p>
      </form>
    </div><!-- .site__search-form -->
  </div><!-- .sidebar__wrap -->

</aside>
