
@import "_redbat/functions";
@import "_redbat/mixins";

/*
BITS --------------------------------------- */

$primary-color: #022a41;
$secondary-color: #cca874;
$jazz-color: #e4097f;

body {
  &:before {
    background: $primary-color;
    content: "";
    display: block;
    height: 400px;
    width: 100%;
    position: absolute;
    @media #{$xlarge-up} {
      height: 600px;
    }
    @media #{$xxlarge-up} {
      height: 816px;
    }
  }
}


.site__header {
  border-color: rgba(white, .15);
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  a {
    color: $secondary-color;
    &:hover {
      color: lighten($secondary-color, 10%);
    }
  }
}

.logo {
  .bold__first, .bold__third {
    fill: white;
  }
  .bold__second {
    fill: $secondary-color;
  }
}

.site__author {
  color: rgba(white, .45);
}

.site__search-form {
  input {
    background: rgba(white, .1);
    border: 0;
    color: white;
  }
  // Webkit Placeholder
  ::-webkit-input-placeholder {
    color: rgba(white, .6);
    transition: all .2s ease;
  }

  input:focus::-webkit-input-placeholder {
    color: white;
  }

  // Firefox 18
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(white, .6);
    transition: all .2s ease;
  }

  input:focus:-moz-placeholder {
    color: white;
  }

  // Firefox 19
  ::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(white, .6);
    transition: all .2s ease;
  }

  input:focus::-moz-placeholder {
    color: white;
  }
}

.post__header {
  margin-bottom: 5rem;
  padding: 1.2rem;
  width: 100%;
  position: relative;
  z-index: 1;
  @media #{$large-up} {
    padding: 2.5rem;
  }

  .post__meta {
    color: rgba(white, .4);
    text-align: right;
  }
}

.format-post h1 {
  font-size: 20vw;
  color: $secondary-color;
  line-height: 60%;
  text-indent: 7vw;
  @media #{$large-up} {
    // font-size: 15rem;
  }
}

.post__entry {
  position: relative;
  z-index: 1;
  @media #{$medium-up} {
    max-width: 768px;
  }
  @media #{$large-up} {
    max-width: 1000px;
  }
  @media #{$xxlarge-up} {
    max-width: none;
    -webkit-column-width: 34rem;
    -moz-column-width: 34rem;
    column-width: 34rem;
  }
}

.format-post .post__entry > p {
  margin-bottom: 0;
  text-indent: 1.5rem;
  &:first-child {
    text-indent: 0;
    margin-bottom: 0;
    &:first-letter {
      color: #e4097f;
      font-size: 8rem;
      font-weight: 600;
      float: left;
      margin: {
        bottom: rem-calc(10px);
        right: rem-calc(10px);
        top: rem-calc(30px);
      }
    }
  }
}

.post__closer {
  @media #{$medium-up} {
    margin: 6rem 0 0 35%;
  }
  @media #{$xxlarge-up} {
    margin: 6rem auto 0;
  }
}
