<!DOCTYPE html>
<html>
    <head>

        <!--

        @@@@@@@@@@@@@@@@@  @@@   @@@          @@@
        @@@@@@@@@@@@@@@@@  @@@   @@@@        @@@@
               @@@         @@@   @@@ @      @ @@@
               @@@         @@@   @@@  @@  @@  @@@
               @@@         @@@   @@@   @@@    @@@
               @@@         @@@   @@@          @@@
               @@@         @@@   @@@          @@@
               @@@         @@@   @@@          @@@

        How much does a polar bear weigh? Just enough to break the ice.

        Made with love in beautiful Saint Paul, Minnesota.
        © 2013 Timothy B. Smith.

        -->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <!-- DNS Prefetch -->
        <link rel="dns-prefetch" href="//use.typekit.net">
        <link rel="dns-prefetch" href="//p.typekit.net">

        <!-- Author Info for Google -->
        <link rel="author" href="https://plus.google.com/117161754644004218749">
        <meta name="author" content="Tim Smith">
        <link rel="canonical" href="http://theboldreport.net{{ page.url }}">
        <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}">

        <!-- Facebook Article Info -->
        <meta property="og:image" content="http://ttimsmith.com/uploads/tim_680x510.jpg">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:site_name" content="The Bold Report">
        <meta property="og:url" content="http://theboldreport.net{{ page.url }}">
        <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}">
        {% if page.custom_type %}
        <meta property="og:type" content="article">
        {% endif %}

        <!-- Twitter Info -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@theboldreport">
        <meta name="twitter:creator" content="@ttimsmith">

        <link rel="alternate" type="application/rss+xml" title="RSS Feed for The Bold Report" href="/atom.xml" />

        <!-- syntax highlighting CSS -->
        {% stylesheet syntax %}

        <!-- Custom CSS -->
        {% stylesheet global %}

        <!-- Typekit Code  -->
        <script type="text/javascript" src="//use.typekit.net/dto7tfw.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </head>
    <body {% if page.custom_css_class %} class="{{ page.custom_css_class }}" {% endif %}>

        <div class="site__wrapper">

          <header class="site__header" role="banner">

            <div class="site__nav-search-wrapper">
              <div class="contain">
                <nav class="site__navigation" role="navigation">
                  <ul>
                    <li><a href="#">Archives</a></li>
                    <li><a href="#">Membership</a></li>
                    <li><a href="/colophon/">Colophon</a></li>
                    <li><a href="#">Subscribe</a></li>
                    <li><a href="#">Sponsorship</a></li>
                  </ul>
                </nav>

                <div class="open-search">
                  <a class="reveal" role="button">
                    <span data-icon="s" aria-hidden="true"></span>
                    <span class="screen-reader-hide">show search form</span>
                  </a>
                </div>
              </div><!-- .contain -->
            </div><!-- sit__nav-search-wrapper -->

            <div class="site__branding">
              <div class="contain">
                <a href="/" class="logo">The Bold Report</a>
              </div>
            </div>

          </header>

          <div class="contain search-wrapper">
            <div id="search" class="site__search-form">
              <form action="/search" method="get">
                <p>
                  <input type="text" id="search-query" name="q" placeholder="Search…" autocomplete="off">
                </p>
              </form>
            </div><!-- .site__search-form -->
          </div>

          <main class="content__main-content" role="main">
            <div class="contain">

              {{ content }}

            </div><!-- .content__main-content -->
          </main>

          <footer class="site__footer" role="contentinfo">
            <div class="contain">
              <small><a href="#">Subscribe</a> &middot; <a href="#">Archives</a> &middot; <a href="https://github.com/ttimsmith/theboldreport.net">View Source on GitHub</a></small>
              <small><em>The Bold Report</em> &copy; {{ site.time | date: "%Y" }} Anythin’ Goes LLC. &amp; Timothy B. Smith.</small>

            </div><!-- .contain -->
          </footer>


        </div><!-- .site__wrapper -->

        <!-- Other JS libraries -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% javascript stuff %}
        {% javascript search %}
    </body>
</html>
