---
layout: default
custom_css_class: single
---
<div class="type-post format-{% if page.custom_type %}{{ page.custom_type }}{% endif %}">
  <article class="post single-post">
    {% if page.custom_type == 'post' %}

      <header class="post__header">
        <small class="post__meta">
          {% include small-author.html %}
          {% include date.html %}
        </small>
        <h1>{{ page.title | smartify }}</h1>
      </header><!-- /.post__header -->

      <div class="post__entry">
        {{ content }}
      </div><!-- /.post__entry -->

      <div class="post__closer">
        {% include icons/icon-closer.html %}
      </div><!-- /.post__closer -->

      <section class="card card--light card--large">
        <h2>Those words be written good!</h2>
        {% include newsletter-form.html text="Get more of them in your inbox every Friday." %}
      </section>

      <footer class="post__footer">
        {% include tags.html text="yes" %}
        {% include full-author.html %}
        {% include related-posts.html %}
      </footer>

    {% elsif page.custom_type == 'link' %}

      <header class="post__header">
          <h1><a href="{{ page.link_url }}">{{ page.title | smartify }}</a><span class="arrow">&rarr;</span></h1>

          <small class="post__meta">
            {% include small-author.html %}
            {% include date.html %}
          </small>
        </header><!-- /.post__header -->

        <div class="post__entry">
          {{ content }}
        </div><!-- /.post__entry -->

        <footer class="post__footer">
          {% include tags.html text="yes" %}
          {% include related-posts.html %}
        </footer>

    {% endif %}
  </article>
</div>
