---
layout: default
custom_css_class: single
---
<div class="type-post format-{% if page.custom_type %}{{ page.custom_type }}{% endif %}">
  <article class="post single-post">
    {% if page.custom_type == 'post' %}

      <header class="post__header">
        <small class="post__meta">
          {% include small-author.html %}
          {% include date.html %}
        </small>
        <h1>{{ page.title | smartify }}</h1>
        {% if page.subtitle %}
          <h2 class="post__subtitle">{{ page.subtitle | smartify }}</h2>
        {% endif %}
      </header>

      <div class="post__entry">
        {{ content }}
      </div>

      <div class="post__closer">
        {% include icons/icon-closer.html %}
      </div>

      <section class="card card--light card--large">
        <h2>Those words be written good!</h2>
        {% include newsletter-form.html text="Get more of them in your inbox every Friday." %}
      </section>

      <footer class="post__footer">
        {% if page.tags %}
          {% include tags.html text="yes" %}
        {% endif %}
        {% include full-author.html %}
        {% include related-posts.html %}
      </footer>

    {% elsif page.custom_type == 'link' %}

      <header class="post__header">
        <h1><a href="{{ page.link_url }}">{{ page.title | smartify }}</a><span class="arrow">&rarr;</span></h1>

        <small class="post__meta">
          {% include small-author.html %}
          {% include date.html %}
        </small>
      </header>

      <div class="post__entry">
        {{ content }}
      </div>

      {% if page.tags.size >= 1 or site.related_posts >= 1 %}
        <footer class="post__footer">
          {% include tags.html text="yes" %}
          {% include related-posts.html %}
        </footer>
      {% endif %}

    {% endif %}
  </article>
</div>
