/*
HEADER
-------------------------------------------- */

.site__header {
  display: flex;
  flex-direction: column;
  margin: 0 0 $spacing-l;
  @media #{$medium-up} {
    border-bottom: 1px solid $borderColor;
    flex-direction: row;
    padding: rem-calc(15px);
  }
}

.site__branding {
  margin: 0 0 $spacing-s;
  @media #{$small-only} {
    margin: rem-calc(25px) auto;
    width: 90%;
  }
  @media #{$medium-up} {
    margin: auto $spacing-m auto auto;
    text-align: left;
  }
}

.logo {
  display: block;
  width: 180px;
  max-height: 21px;
  @media #{$medium-up} {
    width: 180px;
    max-height: 24px;
  }
  .bold__first, .bold__third {
    fill: $darkColor;
    transition: fill 310ms ease;
  }
  .bold__second {
    fill: $linkColor;
    transition: fill 310ms ease;
  }
}

.site__author {
  color: lighten($darkColor, 15%);
  font-size: 1rem;
  line-height: 100%;
  @extend %sans;
  @media #{$medium-up} {
    font-size: .85rem;
    position: absolute;
  }
  @media #{$large-up} {
    font-size: .8rem;
  }
}

.site__navigation {
  flex: 1;
  @media #{$small-only} {
    background: $jazzColor;
    padding: .8rem 0;
  }
  @media #{$medium-up} {
    margin-bottom: auto;
    margin-right: $spacing-m;
    margin-top: auto;
  }
}

.primary-navigation {
  margin: 0;
  text-align: left;
  width: 100%;
  @media #{$small-only} {
    margin: 0 auto;
    width: 90%;
    a {
      color: white;
      font-weight: 600;
      &:hover {
        color: rgba(white, .8);
      }
    }
  }
  li {
    display: inline;
    list-style-type: none;
    font-size: 1.3rem;
    margin-right: rem-calc(15px);
    margin-left: 0;
    padding: 0;
    @extend %sans;
    @media #{$small-only} {
      font-size: 1.1rem;
    }
    @media #{$medium-up} {
      font-size: .9rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

/* Search */

.site__search-form {
  @extend %sans;
  @media #{$small-only} {
    display: none;
  }
  @media #{$medium-up} {
    flex: 0 1 30%;
  }
}































