/*

MAIN CONTENT
--------------------------------------------------------- */

.content__main-content {

}

.type-post {
  &.format-link {
    margin-bottom: 6em;
  }
  &.format-post {
    margin: 3em 0 8em 0;
    &:first-child {
      margin-top: 0;
    }
    &:after {
      content: "♨";
      text-align: center;
      font-size: 75px;
      color: lighten($borderColor, 3%);
      position: relative;
      left: 42%;
      top: 70px;
      @include breakpoint(screen-xs) {
        left: 33%;
      }
    }
    .single & {
      margin: 0 0 5em 0;
    }
  }
}

.post__header {
  margin: 0 $postSides $spacing-m;
  p {
    font-size: .9em;
    color: lighten($darkColor, 50%);
    @extend %sans;
  }
}

.post__entry {
  h2 {
    margin: 1.8em $postSides .2em;
  }
  h3 {
    margin: 1.3em $postSides .2em;
  }
  h5 {
    margin: 2em $postSides .2em;
  }
  p {
    margin: 0 $postSides 3.125%;
  }
  ul, ol {
    margin: 0 $postSides 3.125% ($postSides+40px);
  }
}

/* Format Post */

.format-post {
  .post__entry {
    p:first-child {
      color: $darkColor;
      font-size: 1.3em;
    }
  }
  h1 {
    font-size: 2.3em;
    font-weight: 900;
    margin: 0;
    a {
      border-bottom: none;
      color: $headlineColor;
      font-weight: 800;
      text-decoration: none !important;
      &:hover {
        color: $linkColor;
        border-bottom: none;
      }
    }
  }
}


// Format Link
.format-link {
  h1 {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 155%;
    margin: 0 0 .2em;
    a {
      color: $headlineColor;
      &:hover {
        color: lighten($headlineColor, 10%);
      }
    }
  }
  span {
    vertical-align: middle;
  }
}

.link__icon {
  border-bottom: none !important;
  margin: 0 0 0 10px;
  font-size: .75em;
  font-weight: normal !important;
  color: lighten($darkColor, 45%) !important;
  text-decoration: none !important;
  &:hover {
    color: $linkColor !important;
  }
}

.footnotes {
  margin: 40px $postSides 0;
  ol {
    margin: 0 0 0 6%;
    li {
      font-size: .95em;
      padding: 0;
      margin: 0;
      @media screen and (max-width: 320px ) {
        font-size: 1em;
      }
    }
  }
  &:before {
    background: $borderColor;
    content: " ";
    display: block;
    height: 2px;
    width: 150px;
    margin-bottom: 20px;
  }
}
