/*

MAIN CONTENT
--------------------------------------------------------- */

.content__main-content {
  @include transition(300ms ease);
  .BarShow & {
    @include filter(blur(5px) grayscale(70%));
  }
  @include breakpoint(s) {
    margin: 1.5em 0 0;
  }
}


.type-post {
  &.format-link {
    margin-bottom: 6em;
  }
  &.format-post {
    margin: 3em 0 8em 0;
    &:first-child {
      margin-top: 0;
    }
    &:after {
      content: "♨";
      text-align: center;
      font-size: 75px;
      color: lighten($borderColor, 3%);
      position: relative;
      left: 42%;
      top: 70px;
      @include breakpoint(screen-xs) {
        left: 33%;
      }
    }
    .single & {
      margin: 0 0 5em 0;
    }
  }
}

.post__header {
  margin: 0 0 $spacing-xxs;
  .post__meta {
    color: lighten($darkColor, 30%);
    display: block;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 $spacing-s;
    @extend %sans;
  }
}

/* Format Post */

.format-post {
  .post__entry {
    >p:first-child {
      color: lighten($darkColor, 30%);
      line-height: 130%;
      font-size: 1.7rem;
      font-weight: 300;
      @extend %sans;
    }
  }
  h1 {
    font-size: 2.6rem;
    font-weight: 900;
    margin: 0;
    a {
      border-bottom: none;
      color: $darkColor;
      font-weight: 800;
      text-decoration: none !important;
      &:hover {
        color: $linkColor;
        border-bottom: none;
      }
    }
  }
}


// Format Link
.format-link {
  h1 {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 155%;
    margin: 0;
    a {
      text-decoration: underline !important;
    }
  }
  .link__icon {
    vertical-align: middle;
  }
  .arrow {
    color: lighten($darkColor, 50%);
    font-size: .8em;
    line-height: 100%;
    margin-left: 10px;
    vertical-align: middle;
  }
}

.link__icon {
  margin: 0 0 0 10px;
  font-weight: normal !important;
}


/* Footnotes */

.footnotes {
  margin: 40px 0;
  ol {
    margin: 0 0 0 6%;
    li {
      font-size: .95em;
      padding: 0;
      margin: 0;
      @media screen and (max-width: 320px ) {
        font-size: 1em;
      }
    }
  }
  &:before {
    background: $borderColor;
    content: " ";
    display: block;
    height: 2px;
    width: 150px;
    margin-bottom: 20px;
  }
}


/* Media Queries on Post Type */

@include breakpoint(container) {
  h1,h2, h3, h4, h5, p, ul, ol, figcaption, .alignleft figcaption, .alignright figcaption, .footnotes, .post__meta {
    padding: 0 10px;
  }
}
