/*

PAGES
--------------------------------------------------------- */
.archive-list, .search-results-list {
  h3 {
    font-size: 1.2rem;
    margin-bottom: rem-calc(14px);
    margin-top: 0;
    .pubdate {
      color: lighten($darkColor, 25%);
      display: inline-block;
      font-size: 1rem;
      font-weight: normal;
      margin-left: rem-calc(10px);
    }
  }
}
